asgiref==3.10.0
Django==5.2.8
django-crispy-forms==2.5
django-phonenumber-field==8.3.0
djangorestframework==3.16.1
fontawesomefree==6.6.0
phonenumbers==9.0.18
pillow==12.0.0
psycopg2-binary==2.9.11
python-decouple==3.8
sqlparse==0.5.3
typing_extensions==4.15.0
